body {
    font-family: arial;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    background: lavender
}

pre {
    color:#d1d1d1;
    background:#111111;
}

b {
    color: maroon
}

ul {
    list-style-type: square
}

code {
    background: blanchedalmond;
    color: black
}